* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    /* width: 15%; */
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
@media screen and (max-width: 500px) {

    .column {
        width: 100%;
    }
}