/* .vertical-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    overflow-y: auto;
}


.vertical-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


.vertical-menu a:hover {
    color: #f1f1f1;
}

.vertical-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

.vertical-menu p {
    color: #818181;
    display: block;
    font-size: 15px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    transition: 0.3s;
} */

/* .productList {
    margin: 100px;
} */
/* 
.flex-container {
    display: flex;
    justify-content: center;
    background-color: DodgerBlue;
  } */

  /* .flex-container > div { */
    /* background-color: #f1f1f1; */
    /* width: 320px; */
    /* margin: 10px; */
    /* text-align: center; */
    /* line-height: 200px; */
    /* font-size: 15px; */
  /* } */

  /* .flex-container > div  > img{ */
    /* background-color: #f1f1f1; */
    /* width: 30%; */
    /* margin: 10%; */
    /* text-align: center; */
    /* line-height: 50px; */
    /* float: left; */
    /* clear: left; */
    /* font-size: 15px; */
  /* }
  
  .label {

    width: 40%;
    line-height: 5%;
    margin: 10%;
    float: left;
  } */


  * {box-sizing: border-box;}
    body {font-family: Verdana, sans-serif; margin: 0; background-color: #333;}
    .mySlides {display: none;}
    img {vertical-align: middle;}
  
  /* Slideshow container */
  .slideshow-container {
    /* max-width: 1000px; */
    max-width: 100%;
    z-index: -1;
    position: relative; 
    margin: auto;
  }
  
  /* Caption text */
  .caption_text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* .active {
    background-color: #717171;
  } */
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
  

  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  .topnav-right {
    float: right;
  }
  
  .topnav a {
    float: left;
    color: #818181;
    /* text-align: center; */
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    color: #f1f1f1;
    /* color: black; */
  }


  .vertical-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    overflow-y: auto;
}


/* .vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
} */


.vertical-menu a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    float: none;
}
.dropdown-btn{
    /* padding: 6px 8px 6px 16px; */
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    /* font-size: 20px; */
    font-size: 25px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}


/* .vertical-menu a:hover {
    background-color: #ccc;
} */

.vertical-menu a:hover {
    color: #f1f1f1;
}

.vertical-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

.vertical-menu p {
    color: #818181;
    display: block;
    font-size: 15px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    transition: 0.3s;
}

.productLst{
  margin-top: 20px;
  padding-top: 20px;;
}

/* .column {
  float: left;
  width: 33.33%;
  padding: 5px;
  text-align: center;
  color: #818181;
  margin: 10px;
} */

/* Clearfix (clear floats) */
.productLst::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  /* width: 33.33%; */
  width: 20%;
  padding: 5px;
  margin: 10px 30px;
  flex: 0.25;
}
.row{
  margin: 20px 30px;
  display: flex;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 500px) {

  .column {
      width: 100%;
  }
}

/* .column > a > p{ */
  /* float: left; */

  /* display: block;
  width: 350px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
  
  /* color: #818181; */
  /* text-align: center; */
  /* padding: 14px 16px; */
  
  /* text-decoration: none; */
  /* font-size: 17px; */
/* } */

.column > a > p{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  color: #818181;
  /* text-decoration: none; */
  /* float: left; */
  text-align: center;
}
.column > a{
  text-decoration: none;
}

.column > a > img{
  width: 100px;
  height: 250px;
  background-size: cover;
}


.flex_container{
  display: flex;
  align-items: stretch;
  /* background-color: yellow; */
}

.flex_container > div {
  /* background-color: blue; */
  width: 350px;
  margin: 40px 10px;
  text-align: justify;
  /* order: 1; */
  /* line-height: 200px; */
  font-size: 14px;
}

.flex2 > p{
  margin-right: 10px;
  margin-left: 10px;;
  line-height: 1.6;
  color: #818181;
  font-family: Arial, Helvetica, sans-serif;
}

.flex3 > form > button {
  position: relative;
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  text-align: center;
  top: 10%;
  left: 30%;
}
/* .flex2 > span {
  line-height: 1.6;
} */


.flex3 > button:hover {
  background-color: black;
  color: white;
}

.flex > img {
  width: 100%;
  height: 60%;
}

.flex_cont{
  display: flex;
  /* margin: 5%; */
  flex-wrap: wrap;
  /* background-color: dodgerblue; */
}

.flex_div{
  background-color: #f1f1f1;
  width: 30%;
  /* margin: 22px; */
  margin: 5% 10%;
  text-align: center;
  line-height: 75px;
  font-size: 16px;
}

.order_btn{
  margin: 3% 10%;
}
.order_btn > button{
  position: relative;
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  text-align: center;
}

.order_btn > button:hover{
  background-color: black;
  color: white;
}