    <!DOCTYPE html>  
    <html lang="en">  
    <head>  
        <meta charset="UTF-8">
       
        <title>{% block title %}{% endblock %}</title>
        {% load static %}
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src = "{% static 'js/ajax_call.js' %}" type = "text/javascript" charset = "utf-8"></script>
        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/style.css' %}">
        
        
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/botui/build/botui.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/botui/build/botui-theme-default.css" /> -->
        
        <!-- import google icon font -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:500&display=swap" rel="stylesheet">
        
        <!-- import font awesome icon font-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />

        <!-- import materialize.css-->
        <link rel="stylesheet" type="text/css" href="/static/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/chatbot_style.css">

        {% block links %}
        {% endblock  %}
    </head>  
    <body>  

        <p id = 'abc'></p>

        <div class="topnav">

            <div id = "Sidenav" class="vertical-menu">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> 
            </div>

            <span style="font-size:30px;cursor:pointer;margin:10px;float:left;color:#818181;" onclick="openNav()">&#9776;</span>

            <a class="active" href="/">Home</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
            <div class="topnav-right">
                <a href="/cart_list">View Cart</a>

                <a class="in" href = "#"></a>
            </div>
        </div>

        {% block content %}
        {% endblock %}  

        <script>

            if (localStorage.getItem('token') === null){
                document.getElementsByClassName("in")[0].innerHTML = "Login"
                document.getElementsByClassName("in")[0].setAttribute("href","/login/")
            }
            else{
            
                document.getElementsByClassName("in")[0].innerHTML = "Logout"
                $('.in').click(function(e){
                    e.preventDefault();

                    $.ajax({
                        url: "/logout/",
                        type: "GET",
                        headers: {'Authorization': `Token ${localStorage.getItem('token')}`,
                                    'Content-Type': 'application/json',
                                },
                        // success: function (result) {
                            
                        //     alert("------")
                        //     }
                        statusCode: {
                            200: function() {
                                alert("---------")
                                localStorage.removeItem('token')
                            }
                        }
                            // alert(result)
                            // 

                    })
                })

                // document.getElementsByClassName("in")[0].setAttribute("href","/logout/")
            }
        </script>
        

        <div class="container">

            <!-- Modal for rendering the charts, declare this if you want to render charts, 
             else you remove the modal -->
            <div id="modal1" class="modal">
                <canvas id="modal-chart"></canvas>
            </div>
    
            <!--chatbot widget -->
            <div class="widget">
                <div class="chat_header">
    
                    <!--Add the name of the bot here -->
                    <span class="chat_header_title">Sara</span>
                    <span class="dropdown-trigger" href='#' data-target='dropdown1'>
                      <i class="material-icons">
                      more_vert
                      </i>
                   </span>
    
                    <!-- Dropdown menu-->
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="#" id="clear">Clear</a></li>
                        <li><a href="#" id="restart">Restart</a></li>
                        <li><a href="#" id="close">Close</a></li>
                    </ul>
                </div>
    
                <!--Chatbot contents goes here -->
                <div class="chats" id="chats">
                    <div class="clearfix"></div>
    
                </div>
    
                <!--keypad for user to type the message -->
                <div class="keypad">
                    <textarea id="userInput" placeholder="Type a message..." class="usrInput"></textarea>
                    <div id="sendButton"><i class="fa fa-paper-plane" aria-hidden="true"></i></div>
                </div>
            </div>
    
            <!--bot profile-->
            <div class="profile_div" id="profile_div">
                <img class="imgProfile" src="/static/Images/botAvatar.png" />
            </div>
    
            <!-- Bot pop-up intro -->
            <div class="tap-target" data-target="profile_div">
                <div class="tap-target-content">
                    <h5 class="white-text">Hey there 👋</h5>
                    <p class="white-text">I can help you get started with Rasa and answer your technical questions.</p>
                </div>
            </div>
    
        </div>
    
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>

    <!--main script-->
    <script type="text/javascript" src="/static/js/script.js"></script>


    </body>  
    </html>
    