<!DOCTYPE html>  
    <html lang="en">  
    <head>  
        <meta charset="UTF-8">  
        <title>Cloth</title>
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>  
    <h2>Cloth!!!</h2>
    </body>
    </html>