     <!DOCTYPE html>  
    <html lang="en">  
    <head>  
        <meta charset="UTF-8">  
        <title>Index</title>
        <title>{% block title %}{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src = "{% static 'js/ajax_call.js' %}" type = "text/javascript" charset = "utf-8"></script>
        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/style.css' %}">
    </head>  
    <body>  
    {% comment %} <h2>Welcome to Django!!!</h2> {% endcomment %}
    <p id = 'abc'></p>

<div class="topnav">

    <div id = "Sidenav" class="vertical-menu">
        {% comment %} <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> {% endcomment %}
    </div>

    <span style="font-size:30px;cursor:pointer;margin:10px;float:left;color:#818181;" onclick="openNav()">&#9776;</span>

  <a class="active" href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>

<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <img src="static/Images/bike.jpg" style="width:100%;">
  <div class="text">Caption Text</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="static/Images/bike2.jpg" style="width:100%;">
  <div class="text">Caption Two</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="static/Images/bike3.jpg" style="width:100%">

  <div class="text">Caption Three</div>
</div>

</div>
<br>

<div style="text-align:center;">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

<script>
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>
   

    {% comment %} <div id = "Sidenav" class="vertical-menu"> {% endcomment %}
        {% comment %} <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> {% endcomment %}
    {% comment %} </div> {% endcomment %}

    {% comment %} <span style="font-size:50px;cursor:pointer;margin:10px;position:absoulute;top:0;" onclick="openNav()">&#9776;</span> {% endcomment %}

    <div class = "productLst">
        {% comment %} <div class="flex-container">
            <div id = "image" class = "column"></div>
            <div></div>
            <div></div> {% endcomment %}
        {% comment %} </div> {% endcomment %}
    </div>

    </body>  
    </html>
    