{% extends 'base.html' %}

{% block content %}
  <!-- <h2>Login</h2>
  <form method="post" action="/login/" id="login">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
  <br> -->

  <form method="post" action="/login/" id = 'login'>
    {% csrf_token %}
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="Username">

    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password">

    <button type="submit">Login</button>    
  </form>
  <!-- <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Login</button>
  </form> -->
  <a href="/signup">Sign Up</a>
  <br>
  <p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'facebook' %}">Login with facebook</a><br>

  <script>
    $(function() {
      var form = $('#login');

      $(form).submit(function(e){

          e.preventDefault();

          var form_data = $(form).serialize();
          alert($(form).attr('action'))

          $.ajax({
              type: 'POST',
              url: $(form).attr('action'),
              data: form_data,
              success: function(response){
                localStorage.setItem('token', response['token'])
                window.location = '/'
              }
          })

      })

  })
  </script>
{% endblock %}