{% extends 'base.html' %}
{% block title %}abc{% endblock title %}
{% block links %}
{% load static %}
<script src = "{% static 'js/product_ajax_call.js' %}" type = "text/javascript" charset = "utf-8"></script>
{% endblock  %}

{% block content %}

    <div class="flex_container"> 

    <div class="flex" style="flex-grow: 8;"></div>
    <div class="flex2" style="flex-grow: 2;"></div>
    
    <div class="flex3" style="flex-grow: 1;">
        <form action="/cart_detail/" method="post" class="Form" id = "add_to_cart">
            {% csrf_token %}
        </form>
        
    </div>
    </div>
{%endblock content %}