{% extends 'base.html' %}

{% block content %}
<h2 style="color: #818181;">Sign Up</h2>
<form method="post">

    {% csrf_token %}
    <!-- {{ form.as_p }} -->

    {% for field in form %}

        <p style="color: #818181;">
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
                <small style="color: #636262">{{field.help_text}}</small>
            {% endif %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
    {% endfor %}
    <button type="submit">Sign Up</button>
</form>

{% endblock %}